html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'CompassSans';
	background-color: white;
}

iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	border-width: 0;
	border-style: none;
}

/* TYPE */

@font-face {
  font-family: 'CompassSans';
  src: url('fonts/CompassSans-Regular.ttf');
}

@font-face {
  font-family: 'GTPressura';
  src: url('fonts/GTPressura-Regular.otf');
}

h1 {
	font-size: 15px;
	color: black;
	margin: 0;
	font-weight: normal;
}

h2 {
	font-size: 12px;
	color: black;
	margin: 0;
	font-weight: 800;
}

.number {
	font-family: 'GTPressura';
	font-size: 13px;
	font-weight: 400;
	user-select: none;
}

/* HEADER */

header {
	position: absolute;
	width: calc(400px * .83);
	margin-top: 35px;
	padding: 0 calc(400px * .075);
	z-index: 3;
	transition: all 1.2s cubic-bezier(0.23, 1, 0.320, 1);
}

header h1 {
	opacity: 1;
	transition: opacity .5s ease;
}

header .icon {
	position: absolute;
	height: 25px;
	transition: all .2s ease;
}

header .icon:hover {
	cursor: pointer;
	transform: scale(1.15);
}

header #openclose-panel-container {
	top: -1px;
	right: 50px;
}

header #tooltip-container {
	top: -2px;
	right: 20px;
	transition: all .2s ease;
}

#tooltip {
	height: 21px;
}

#openclose-icon {
	height: 20px;
	transition: transform .2s ease;
}

.header-close {
	width: 20px;
}

.header-close h1 {
	opacity: 0;
}

.header-close #tooltip-container {
	right: 52px;
	top: 30px;
}

.header-close #openclose-icon {
	transform: rotate(180deg);
}

/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	margin: 15px;
}

/* MAIN */

.tool-canvas {
	width: 100%;
}

/* SIDEBAR */

.sidebar {
	width: 410px;
	height: calc(100vh - 170px);
	padding-top: 85px;
	padding-bottom: 85px;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	backdrop-filter: blur(2px);
	background-color: rgba(243, 243, 243, .25);
	z-index: 2;
	border-right: 1px solid rgb(182, 182, 182);
	transition: transform 1.2s cubic-bezier(0.23, 1, 0.320, 1);
}

.sidebar-close {
	transform: translateX(-375px);
}

section {
	width: 100%;
}

section .title {
	text-align: center;
	margin-bottom: 8px;
}

section .parameter-container {
	border: 1px solid #CCCBCB;
	border-radius: 20px;
	width: 76%;
	margin-left: 7%;
	padding: 4%;
	background-color: rgba(236,236,236, .2);
	backdrop-filter: blur(4px);
}

section .parameter-container:hover {
	transition: background-color .2s ease;
	background-color: rgba(236,236,236, .8);
}

section .parameter {
	width: 100%;
	position: relative;
}

section .parameter-large {
	height: 60px;
}

section .parameter-xlarge {
	height: 62px;
}

section .parameter-xlarge label:first-child {
	margin-bottom: 6px;
}

.parameter label, .parameter input, .parameter h3, .parameter p {
	display: inline-block;
	vertical-align: middle;
}

.parameter label {
	font-size: 12px;
	font-family: 'CompassSans';
}

.parameter label:first-child {
	width: 50px;
}

.parameter p {
	font-size: 12px;
	font-family: 'CompassSans';
	user-select: none;
}

.parameter .slider-value {
	border-bottom: 1px solid black;
	margin-left: 13px;
}

.parameter input[type="radio"] {
	margin-top: 1px;
	margin-left: 12px;
	filter: grayscale(1); 
}

.parameter input[type="radio"]:hover {
	cursor: pointer;
}

.parameter input[type="range"] {
	margin-top: 0px;
}

.parameter input[type="text"] {
	margin-left: 10px;
	border: none;
	border-bottom: 1px solid #636363;
	background-color: #e4e4e4;
	/* background-color: rgb(241,241,241); */
	height: 20px;
	width: 120px;	
	font-family: "CompassSans";
	border-radius: 2px;
}

/* SLIDER */

.slider {
  -webkit-appearance: none;
  width: 145px;
  height: 20px;
  background: #d1d1d1;
	/* border: 1px solid #636363; */
	border-radius: 4px;
	/* outline: none; */
	opacity: 0.7;
  -webkit-transition: .2s ease-in;
	transition: opacity .2s ease-in;
	margin-left: 10px;
}

.slider:hover {
	opacity: 1;
	cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 18px;
  background: #E4E4E4;
  cursor: pointer;
  border: 1px solid #BEBABA;
	border-radius: 3px;
	/* margin-left: 5px; */
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 18px;
  background: #E4E4E4;
  cursor: pointer;
}

/* .slider::-webkit-slider-runnable-track {
	height: 12px;
} */


/* PATTERN TOGGLE */

.button-toggle {
	width: 78px;
	height: 30px;
	background-color: #d3d3d3;
	border-radius: 7px;
	border: 1px solid #636363;
	display: flex;
}

.button-toggle div {
	position: relative;
	height: 100%;
	width: 50%;
	background-color: #d3d3d3;
	border-radius: 7px;
}

.button-toggle div:first-child {
	border-right: 1px solid #636363;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.button-toggle div:nth-child(2) {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.button-toggle div:hover {
	cursor: pointer;
	background-color: #c8c8c8;	
}

.button-toggle div.selected {
	background-color: rgba(120, 120, 120, 0.856);	
}

.button-toggle #mouse-icon-div {
	background-image: url("assets/mouse.svg");
	background-repeat: no-repeat;
	background-position: 65% 50%;
}

.button-toggle #pattern-icon-div {
	background-image: url("assets/pattern_icon.svg");
	background-repeat: no-repeat;
	background-position: 65% 50%;
}

#pattern-toggle .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mouse-icon {
	width: 15px;
	margin-left: 3px;
}

#pattern-icon {
	width: 28px;
}

/* PATTERN OPTIONS TABLE */

#pattern-table {
	width: 100%;
	border: 1px solid #636363;
	border-radius: 7px;
	background-color: #e4e4e4;
	border-spacing: 0;
	margin-top: 5px;
}

#pattern-table td {
	color: #636363;
	vertical-align: middle;
	text-align: center;
	width: 12.5%;
	height: 28px;
	border-right: 1px solid #636363;
}

#pattern-table tr td:last-child {
	border-right: none;
}

#pattern-table tr:first-child td {
	border-bottom: 1px solid #636363;
}

#pattern-table tr:first-child td:first-child {
	border-top-left-radius: 7px;
}

#pattern-table tr:first-child td:last-child {
	border-top-right-radius: 7px;
}

#pattern-table tr:last-child td:first-child {
	border-bottom-left-radius: 7px;
}

#pattern-table tr:last-child td:last-child {
	border-bottom-right-radius: 7px;
}

#pattern-table td:hover {
	cursor: pointer;
	background-color: #d5d5d5;
}

#pattern-table td.selected {
	/* background-color: #7193a0e1; */
	background: linear-gradient(90deg, #c73e1d 0%, #a23b72 12%, #2e86ab 100%);	
	color: rgba(230,230,230);
	opacity: .8;
}

#size-toggle-parameter {
	margin-top: 9px;
}

#size-toggle {

}

.parameter button {
	position: relative;
	width: 100px;
	height: 30px;
	margin-left: 200px;
	border-radius: 7px;
	border: 1px solid #c4c4c4;
	font-family: "CompassSans";
	font-size: 12px;
	background-color: #e5e5e5;
	/* transition: background-color .5 ease; */
}

.parameter button:focus {
	outline: 0;
}

.parameter button:hover {
	cursor: pointer;
	background-color: #f5f5f5;
}

/* TOOLTIP PANE */

#tooltip-pane {
	position: absolute;
	width: 368px;
	height: 835px;
	left: 430px;
	top: 15px;
	background-color: rgb(243, 243, 243, .8);
	backdrop-filter: blur(2px);
	border: 1px solid #e5e5e5;
	border-radius: 7px;
	padding: 25px;

	opacity: 0;
	z-index: -1;
	transition: opacity .1s ease;
}

#tooltip-pane:before {
	content: "";
	position: absolute;
	top: 30px;                    
	margin-top: -20px;                 
	left: -38px;
	border: solid 20px transparent;
	border-right-color: rgb(245, 245, 245);
}

.tooltip-pane-show {
	transition: opacity 1.2s ease !important;
	opacity: 1 !important;
	z-index: 3 !important;
}

#tooltip-pane .close-icon {
	position: absolute;
	right: 21px;
	top: 15px;
	width: 20px;
	height: 20px;
	background-image: url('assets/close.svg');
	background-repeat: no-repeat;
}

#tooltip-pane .close-icon:hover {
	cursor: pointer;
	transform: scale(1.2);
}

#tooltip-pane h3 {
	font-family: "CompassSans";
	font-weight: 400;
	font-size: 13px;
	border-bottom: 1px solid black;
	text-align: center;
	margin: 20px 0 25px 0;
	text-transform: uppercase;
}

#tooltip-pane h3:first-child {
	margin-top: 15px;
}

#tooltip-pane p {
	font-family: "CompassSans";
	font-size: 13px;
	font-weight: 400;
	margin: 0 0 8px 0;
}

#tooltip-pane p span {
	font-weight: 800;
}

#tooltip-howto-buttons {
	width: 100%;
	height: 35px;
	background-color: #DEDDDD;
	border: 1px solid #636363;
	display: flex;
	justify-content: space-around;
	border-radius: 7px;
}

#tooltip-howto-buttons div {
	width: 20%;
	height: 100%;
	border-right: 1px solid #c5c5c5;
	text-align: center;
}

#tooltip-howto-buttons div::before {
	font-family: 'CompassSans';
	font-size: 13px;
	position: relative;
	top: 9px;
}

#tooltip-howto-buttons div:first-child {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px; 
}

#tooltip-howto-buttons div:last-child {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px; 
}

#tooltip-howto-buttons div:first-child::before {
	content: 'Width';
}

#tooltip-howto-buttons div:nth-child(2):before {
	content: 'Height';
}

#tooltip-howto-buttons div:nth-child(3):before {
	content: 'Spacing';
}

#tooltip-howto-buttons div:nth-child(4):before {
	content: 'Length';
}

#tooltip-howto-buttons div:nth-child(5):before {
	content: 'Weight';
}

#tooltip-howto-buttons div:hover {
	cursor: pointer;
}

#tooltip-howto-buttons div.selected {
	transition: background-color 1.2s ease;
	background-color: rgba(120, 120, 120, 0.856);	
}

#tooltip-howto-buttons p {
	margin: 9px 0 0 0;
}

#tooltip-howto-buttons div:last-child {
	border-right: none;
}

#tutorial-pattern-toggle {
	display: flex;
	margin-bottom: 20px;
}

#tutorial-pattern-toggle label {
	margin-top: 9px;
}

#tutorial-button-toggle div:hover {
	cursor: default;
	background-color: #d3d3d3;	
}

#tutorial-description {
	width: 260px;
	padding-left: 55px;
	margin-top: 20px;
}

#tutorial-animation {
	width: 100%;
	padding: 0px 0px 15px 0;
	text-align: center;
}

#tutorial-animation video {
	width: 260px;
	height: 260px;
	transition: opacity .4s ease;
	opacity: 1;
}

#tutorial-animation video.fadeout {
	transition: opacity .15s ease;
	opacity: 0;
}