html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'CompassSans';
	background-color: white;
}

iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	border-width: 0;
	border-style: none;
}

/* TYPE */

@font-face {
  font-family: 'CompassSans';
  src: url('fonts/CompassSans-Regular.ttf');
}

@font-face {
  font-family: 'GTPressura';
  src: url('fonts/GTPressura-Regular.otf');
}

h1 {
	font-size: 15px;
	color: black;
	margin: 0;
	font-weight: normal;
}

h2 {
	font-size: 12px;
	color: black;
	margin: 0;
	font-weight: 800;
}

.number {
	font-family: 'GTPressura';
	font-size: 13px;
	font-weight: 400;
}

/* HEADER */

header {
	position: absolute;
	width: 335px;
	margin-top: 35px;
	padding: 0 20px;
	z-index: 3;
}

header .tooltip-container {
	position: absolute;
	right: 20px;
	top: 0;
}

header .tooltip-container:hover {
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 0;
	margin: 15px;
}

/* MAIN */

.tool-canvas {
	width: 100%;
}

/* SIDEBAR */

.sidebar {
	min-width: 375px;
	height: calc(100vh - 170px);
	padding-top: 85px;
	padding-bottom: 85px;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	backdrop-filter: blur(2px);
	background-color: rgb(247, 247, 247);
	z-index: 2;
	border-right: 1px solid rgb(182, 182, 182);
}

section {
	width: 100%;
}

section .title {
	text-align: center;
	margin-bottom: 8px;
}

section .parameter-container {
	border: 1px solid #CCCBCB;
	border-radius: 20px;
	width: 82%;
	margin-left: 4.5%;
	padding: 4%;
	background-color: rgb(241,241,241);
}

section .parameter-container:hover {
	transition: background-color .2s ease;
	background-color: rgb(236,236,236);
}

section .parameter {
	width: 100%;
	height: 38px;
	position: relative;
}

section .parameter-large {
	height: 60px;
}

section .parameter-xlarge {
	height: 62px;
}

section .parameter-xlarge label:first-child {
	margin-bottom: 6px;
}

.parameter label, .parameter input, .parameter h3, .parameter p {
	display: inline-block;
	vertical-align: middle;
}

.parameter label {
	font-size: 12px;
	font-family: 'CompassSans';
}

.parameter label:first-child {
	width: 50px;
}

.parameter p {
	font-size: 12px;
	font-family: 'CompassSans';
}

.parameter .slider-value {
	border-bottom: 1px solid black;
	margin-left: 13px;
}

.parameter input[type="radio"] {
	margin-top: 1px;
	margin-left: 12px;
	filter: grayscale(.2); 
}

.parameter input[type="range"] {
	margin-top: 0px;
}

.parameter input[type="text"] {
	margin-left: 10px;
	border: none;
	border-bottom: 1px solid #636363;
	background-color: #e4e4e4;
	/* background-color: rgb(241,241,241); */
	height: 20px;
	width: 120px;	
	font-family: "CompassSans";
	border-radius: 2px;
}

/* SLIDER */

.slider {
  -webkit-appearance: none;
  width: 145px;
  height: 20px;
  background: #d1d1d1;
	border: 1px solid #636363;
	border-radius: 4px;
	outline: none;
	opacity: 0.7;
  -webkit-transition: .2s ease-in;
	transition: opacity .2s ease-in;
	margin-left: 10px;
}

.slider:hover {
	opacity: 1;
	cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 18px;
  background: #E4E4E4;
  cursor: pointer;
  border: 1px solid #BEBABA;
	border-radius: 3px;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 18px;
  background: #E4E4E4;
  cursor: pointer;
}

/* PATTERN TOGGLE */

.button-toggle {
	width: 78px;
	height: 30px;
	background-color: #d3d3d3;
	border-radius: 7px;
	border: 1px solid #636363;
	display: flex;
}

.button-toggle div {
	position: relative;
	height: 100%;
	width: 50%;
	background-color: #d3d3d3;
	border-radius: 7px;
}

.button-toggle div:first-child {
	border-right: 1px solid #636363;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.button-toggle div:nth-child(2) {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.button-toggle div:hover {
	cursor: pointer;
	background-color: #c8c8c8;	
}

.button-toggle div.selected {
	background-color: #b4b4b4;	
}

#pattern-toggle .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mouse-icon {
	width: 15px;
	margin-left: 3px;
}

#pattern-icon {
	width: 28px;
}

/* PATTERN OPTIONS TABLE */

#pattern-table {
	width: 100%;
	border: 1px solid #636363;
	border-radius: 7px;
	background-color: #e4e4e4;
	border-spacing: 0;
	margin-top: 5px;
}

#pattern-table td {
	color: #636363;
	vertical-align: middle;
	text-align: center;
	width: 12.5%;
	height: 28px;
	border-right: 1px solid #636363;
}

#pattern-table tr td:last-child {
	border-right: none;
}

#pattern-table tr:first-child td {
	border-bottom: 1px solid #636363;
}

#pattern-table tr:first-child td:first-child {
	border-top-left-radius: 7px;
}

#pattern-table tr:first-child td:last-child {
	border-top-right-radius: 7px;
}

#pattern-table tr:last-child td:first-child {
	border-bottom-left-radius: 7px;
}

#pattern-table tr:last-child td:last-child {
	border-bottom-right-radius: 7px;
}

#pattern-table td:hover {
	cursor: pointer;
	background-color: #d5d5d5;
}

#pattern-table td.selected {
	background-color: #b4b4b4;
}

#size-toggle-parameter {
	margin-top: 9px;
}

#size-toggle {

}

.parameter button {
	position: absolute;
	right: 0;
	bottom: 50%;
	transform: translateY(50%);
	width: 100px;
	height: 28px;
	border-radius: 7px;
	border: 1px solid #c4c4c4;
	font-family: "CompassSans";
	font-size: 12px;
	background-color: #e5e5e5;
	/* transition: background-color .5 ease; */
}

.parameter button:focus {
	outline: 0;
}

.parameter button:hover {
	cursor: pointer;
	background-color: #f5f5f5;
}